body {
   height: 100%;
   margin: 0;
   padding: 0;
   font-family: "Open Sans", sans-serif;
   box-sizing: border-box;
}
h1 {
   height: 41px;
   margin: 0;
}
.layout {
   position: relative;
   overflow: hidden;
   height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: #020100;
}
.load{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #020100;
   color: #ccc;
   z-index: 11;
   display: none;
}
.load.active{
   display: flex;
}


.container {
   position: relative;
   max-width: 960px;
   width: 100%;
   width: 100%;
   height: 100%;
}
.menu-wrapper {
   display: inline-block;
   display: flex;
   justify-content: center;
}
.header {
   display: flex;
   justify-content: flex-end;
   padding: 25px 0;
}
.block-logo {
   position: absolute;
   top: 18px;
   left: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100px;
   height: 100px;
   transform: translate(0, 0) scale(1);
   filter: blur(2px);
   transition: transform 1.3s ease-in-out, filter 1.3s ease-in-out, top 1.3s ease-in-out, left 1.3s ease-in-out;
   transition-delay: 0s;
}

.block-logo.active {
   transition-delay: 1s;
   transition-duration: 0.7s ;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(1.5); */
   filter: blur(4px);
}

.logo {
   position: relative;
   color: #f1d302;
   font-size: 40px;
   font-weight: bold;
   text-align: center;
   margin-bottom: 60px;
   z-index: 2;
}
.bg-logo {
   width: 1px;
   height: 1px;
   position: absolute;
   top: 40%;
   left: 45%;
   border-radius: 50%;
   background: #020100;
   z-index: 0;
   -webkit-box-shadow: 4px 4px 100px -34px rgba(241, 211, 2, 0.2);
   -moz-box-shadow: 4px 4px 100px -34px rgba(241, 211, 2, 0.2);
   box-shadow: 4px 4px 100px -34px rgba(241, 211, 2, 0.2);
   animation-name: blur-logo;
   animation-duration: 10s;
   animation-timing-function: cubic-bezier(0.6, 0.4, 1, 0.96);
   animation-iteration-count: infinite;
}

.block-title {
   margin: 0;
   font-size: 15px;
   padding: 5px 0 0 0;
   text-align: end;
   width: 100%;
   text-align: center;
   opacity: 1;
   transition-delay: 1s;
   transition-duration: 1s;
}

.block-title.active {
   opacity: 0;
}
.block-title h1 {
   text-transform: uppercase;
}
.menu-icon{
   position: relative;
   margin-right: 15px;
   width: 40px;
   height: 40px;
}
.menu-icon-child{
   position: absolute;
   top: 50%;
   left: 0;
   width: 40px;
   height: 4px;
   border-radius: 5px;
   background: white;
}
.menu-icon-child::before, .menu-icon-child::after { 
   content: ' ';
   position: absolute;
   top: -10px;
   left: 0;
   width: 40px;
   height: 4px;
   border-radius: 5px;
   background: white;
}
.menu-icon-child::after{
   top: 10px;
}

.menu {
   opacity: 1;
   transition-duration: 1s;
   transition-delay: 1s;
}

.menu.active {
   transition-delay: 1s;
   opacity: 0;
}

.animation-container {
   padding-top: 45vh;
   opacity: 0;
   position: relative;
   height: 80px;
   display: flex;
   justify-content: space-between;
   transition: 1s;
   transition-delay: 0s;
}
.animation-container.active {
   transition-delay: 1s;
   padding-top: 40vh;
   opacity: 1;
}

.col {
   position: relative;
   width: 80px;
   height: 80px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   cursor: pointer;
   border-radius: 50%;
   transition-duration: 1s;
   margin: 0 -20px;
}

.circle {
   border-radius: 50%;
   animation-duration: 2s;
   animation-timing-function: ease-in-out;
   animation-iteration-count: infinite;
   z-index: 2;
}

.line {
   position: absolute;
   height: 70px;
   top: 2px;
   width: 1px;
   background-color: #f1d302;
   -webkit-box-shadow: 0px 5px 10px 2px rgba(241, 211, 2, 0.2);
   -moz-box-shadow: 0px 5px 10px 2px rgba(241, 211, 2, 0.2);
   box-shadow: 0px 5px 10px 2px rgba(241, 211, 2, 0.2);
   animation-name: anim-line;
   animation-duration: 1s;
   animation-timing-function: cubic-bezier(0.6, 0.4, 1, 0.96);
   animation-iteration-count: infinite;
   opacity: 0.4;
   z-index: 1;
}

.text {
   color: white;
   position: absolute;
   top: 0%;
   left: 45px;
   height: 75px;
   width: 25px;
   overflow: hidden;
   transform: rotate(-180deg) scale(0.7);
   opacity: 0.2;
   text-align: center;
   transition-duration: 0.3s;
   writing-mode: vertical-rl;
   text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3);
}
.col:nth-child(1) .circle,
.col:nth-child(1) .line {
   animation-delay: 0.1s;
}
.col:nth-child(2) .circle,
.col:nth-child(2) .line {
   animation-delay: 0.2s;
}
.col:nth-child(3) .circle,
.col:nth-child(3) .line {
   animation-delay: 0.3s;
}
.col:nth-child(4) .circle,
.col:nth-child(4) .line {
   animation-delay: 0.4s;
}
.col:nth-child(5) .circle,
.col:nth-child(5) .line {
   animation-delay: 0.5s;
}
.col:nth-child(6) .circle,
.col:nth-child(6) .line {
   animation-delay: 0.6s;
}
.col:nth-child(7) .circle,
.col:nth-child(7) .line {
   animation-delay: 0.7s;
}
.col:nth-child(8) .circle,
.col:nth-child(8) .line {
   animation-delay: 0.8s;
}
.col:nth-child(9) .circle,
.col:nth-child(9) .line {
   animation-delay: 0.9s;
}
.col:nth-child(10) .circle,
.col:nth-child(10) .line {
   animation-delay: 1s;
}

.circle:nth-child(1) {
   width: 11px;
   height: 11px;
   background: rgb(89, 151, 210);
   background: linear-gradient(155deg, rgba(89, 151, 210, 1) 0%, rgba(35, 87, 137, 1) 100%);
   -webkit-box-shadow: 0px 5px 10px 2px rgba(89, 151, 210, 0.2);
   -moz-box-shadow: 0px 5px 10px 2px rgba(89, 151, 210, 0.2);
   box-shadow: 0px 5px 10px 2px rgba(89, 151, 210, 0.2);
   animation-name: anim-circle-1;
}
.circle:nth-child(3) {
   position: absolute;
   top: 60px;
   width: 20px;
   height: 20px;
   background: rgb(232, 108, 112);
   background: linear-gradient(155deg, rgba(232, 108, 112, 1) 0%, rgba(193, 41, 46, 1) 100%);
   -webkit-box-shadow: 0px 5px 10px 2px rgba(193, 41, 46, 0.2);
   -moz-box-shadow: 0px 5px 10px 2px rgba(193, 41, 46, 0.2);
   box-shadow: 0px 5px 10px 2px rgba(193, 41, 46, 0.2);
   animation-name: anim-circle-2;
}

.col:hover {
   transform: rotate(90deg);
   margin: 0 15px;
}
.col:nth-child(1):hover {
   margin: 0 15px 0 0;
}

.col:hover .circle:nth-child(1),
.col:hover .circle:nth-child(3),
.col:hover .line {
   animation-duration: 0ms;
   filter: blur(6px);
}
.col:hover .circle:nth-child(3) {
   transform: scale(0.6);
}
.col:hover .text {
   transition-delay: 0.4s;
   transform: translateY(0) rotate(-180deg) scale(1);
   opacity: 1;
}
.col:hover .text {
   left: 10px;
}

.content-wrapper {
   box-sizing: border-box;
   overflow: auto;
   padding: 30px 30px 30px 40px;
   opacity: 0;
   width: 100%;
   height: 0;
   border-radius: 5px;
   background: #e8f6ef;
   transition-duration: 1s;
   transition-delay: 0s ;
}

.content-wrapper.active {
   transition-duration: 1s;
   transition-delay: 1s;
   height: 85vh;
   opacity: 1;
}

@keyframes anim-circle-1 {
   50% {
      transform: translateY(65px) scale(1.9);
   }
}
@keyframes anim-circle-2 {
   50% {
      transform: translateY(-65px) scale(0.4);
   }
}
@keyframes anim-line {
   50% {
      transform: rotateX(90deg);
   }
}
@keyframes blur-logo {
   50% {
      -webkit-box-shadow: 4px 4px 100px 54px rgba(241, 211, 2, 0.2);
      -moz-box-shadow: 4px 4px 100px 54px rgba(241, 211, 2, 0.2);
      box-shadow: 4px 4px 100px 54px rgba(241, 211, 2, 0.2);
   }
}



/* scroll */

::-webkit-scrollbar { /* 1 - скроллбар */
   border-radius: 5px;
    width: 7px;
    height: 4px;
    background-color: #FFFFFF;
  }
  ::-webkit-scrollbar-thumb { /* 5 - ползунок */
    border-radius: 2px;
    background-color: #d1d1d1;
  }

